<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hoainam.unitynative">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".applelogin.AppleLoginActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".googlelogin.LegacyGoogleLoginActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".googlelogin.GoogleLoginActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>